<?xml version="1.0"?>
<configuration>

  <appSettings >
    <add key="sandbox" value="true"/>
    
    <add key="distributor_app_key" value="1000000000"/>
    <add key="distributor_secret_key" value="6af234c9bc0361452797fc14a5cc856ece4a5908"/>

    <add key="operator_app_key" value="1000000000"/>
    <add key="operator_secret_key" value="6af234c9bc0361452797fc14a5cc856ece4a5908"/>
  </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
