.narnoo-table {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    table-layout: fixed;
    display: table;
    width: 100%;
    clear: both;
    margin: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    border-color: #DFDFDF;
    background-color: #F9F9F9;
    border-spacing: 0;
    padding-top:10px;
}

    .narnoo-table * {
        word-wrap: break-word;
    }

    .narnoo-table th {
        background: #F1F1F1;
        background-image: -webkit-gradient(linear,left bottom,left top,from(#ECECEC),to(#F9F9F9));
        background-image: -webkit-linear-gradient(bottom,#ECECEC,#F9F9F9);
        background-image: -moz-linear-gradient(bottom,#ECECEC,#F9F9F9);
        background-image: -o-linear-gradient(bottom,#ECECEC,#F9F9F9);
        background-image: linear-gradient(to top,#ECECEC,#F9F9F9);
        text-align: left;
        line-height: 1.3em;
        font-size: 14px;
        border-width: 1px 0;
        border-style: solid;
        border-top-color: white;
        border-bottom-color: #DFDFDF;
        text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
        padding: 10px 0 0;
        height: 35px;
    }

    .narnoo-table td {
        border-top-color: white;
        border-bottom-color: #DFDFDF;
        font-size: 12px;
        padding: 4px 7px 2px;
        vertical-align: top;
        border-width: 1px 0;
        border-style: solid;
    }

    .narnoo-table .check-column {
        padding: 10px 0 0;
        width: 2.2em;
        vertical-align: top;
    }

    .narnoo-table thead th:first-of-type {
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .narnoo-table .odd {
        background-color: #FCFCFC;
    }

#pager {
    float: right;
    display: block;
    cursor: default;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-top: 10px;
}

    #pager a {
        color: #AAA;
        border-color: #E3E3E3;
        background: #EEE;
        -moz-box-shadow: inset 0 1px 0 #fff;
        -webkit-box-shadow: inset 0 1px 0 white;
        box-shadow: inset 0 1px 0 white;
        text-decoration: none;
        padding: 3px 6px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        font-weight: bold;
        margin-right: 1px;
        outline: 0;
        line-height: 30px;
        font-size: 12px;
        cursor: auto;
    }

        #pager a .disabled {
            cursor: default;
        }

    #pager input[type=text] {
        text-align: center;
        border-color: #DFDFDF;
        background-color: white;
        color: #333;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        outline: 0;
        box-sizing: border-box;
        margin: 1px;
        padding: 3px;
        line-height: 15px;
        border-image: initial;
        -webkit-rtl-ordering: logical;
        -webkit-user-select: text;
        cursor: auto;
        -webkit-appearance: textfield;
        font: -webkit-small-control;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
    }

    #pager .displaying-num {
        color: #777;
        margin-right: 10px;
        font-size: 12px;
        font-style: italic;
        cursor: default;
        line-height: 30px;
        font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    }



.loading {
    padding-top: 20px;
    padding-left: 48%;
}

.tasks li {
    list-style-type: decimal;
}

#accordion {
    padding-top: 45px;
}

.narnoo-box label {
    display: inline-block;
    padding-left: 50px;
    width: 100px;
}

input[type=text] {
    border-color: #DFDFDF;
    background-color: white;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    line-height: 15px;
}

.code code {
    font-family: Consolas,Monaco,monospace;
    padding: 1px 3px;
    margin: 0 1px;
    font-size: 11px;
    background: #EAEAEA;
}
